langchain
langchain-community
langchain-openai
langchain-groq
langchain-huggingface
langchain-chroma
langchain-text-splitters
openai
groq
chromadb
sentence-transformers
streamlit
pymupdf
beautifulsoup4
requests
python-dotenv
pydantic-settings
gtts
SpeechRecognition
pytest